
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1>Hello World MVC Application </h1>
<h2>This is my first ASP.Net MVC Application</h2>

<h3><font color="red">@ViewData["Message"].ToString()</font></h3>

