@model Assignment2.Registration

@{
    ViewBag.Title = "Index";
}

<h2>Welcome to my Site</h2>
<h4>@Html.ActionLink("Display all Users", "GetAllUsers")</h4>
<h4>@Html.ActionLink("Display a User details", "Display")</h4>

