@model Assignment1.Registration

@{
    ViewBag.Title = "Index";
}

<h2>Welcome!</h2><hr/>
<p>@Html.ActionLink("Display Registrations", "GetAllRegisters")</p>
<p>@Html.ActionLink("Create new Registration", "Create")</p>

